body{
    background-image: url(https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg?w=2000);
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    text-align: center;
    -webkit-text-fill-color: blueviolet;
    text-decoration: overline;
  
}

h2
{
    text-align: center;
    text-transform: uppercase;

}

.main
{
 text-align: center;
 }

 input[id="submit"]:hover, input[id="fg"]:hover
 {
    opacity: 0.8;
 }

 input[id="submit"]:active, input[id="fg"]:active
 {
    opacity: 0.5;
 }

input[id="submit"]
{
    background-color: darkcyan;
    color: white;
    border: black;
    height: 30px;
    width: 60px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    transition: opacity 0.10s;
}

input[id="fg"]
{
    background-color: darkcyan;
    color: white;
    border: black;
    height: 30px;
    width: 60 px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    transition: opacity 0.10s;
    margin-left: 20px;

}

label[id="p1"], label [id="u1"]
{
 text-decoration-line: underline;
 text-shadow: 0.45px 0.45px black;
}

input[id="username"], input[id="password"]
{
    background-color: aquamarine;
    border: black;
    border-radius: 2px;
    transition: opacity 0.10s;
}

input[id="username"]:hover, input[id="password"]:hover
{
  opacity: 0.8;
}

input[id="username"]:-ms-keyboard-active, input[id="password"]:-ms-keyboard-active
{
    opacity: 0.5;
}

label[id="u1"]
{
    text-decoration: underline;
    text-shadow: 0.45px 0.45px black;
}


